Flask==0.10.1
Flask-Assets==0.9
Flask-KVSession==0.3.2
Flask-Script==0.6.7
Flask-WTF==0.9.4
Jinja2==2.7.2
MarkupSafe==0.19
WTForms==1.0.5
Werkzeug==0.9.4
anyjson==0.3.3
google-api-python-client==1.1
httplib2==0.8
itsdangerous==0.23
pyOpenSSL==0.13.1
python-gflags==2.0
redis==2.9.1
simplejson==3.3.3
simplekv==0.8.4
six==1.6.1
webassets==0.9
wsgiref==0.1.2
