


	<div class="row">
		<div class="large-12 columns">
				 <label>Title
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" />
      </label>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
				 <label>Issue
        		<select id="newobjectIss">
						
				</select>
      </label>
		</div>
	</div>
	
	
	<div class="row">
		<div class="large-12 columns">
				 <label>Categoria 
       
				<select id="newobjectCat">
						
				</select>
      </label>
		</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
				 <label>Descripcion 
       
				<textarea id="desc" name="desc"></textarea>
				
      </label>
		</div>
	</div>
	<div class="row">
		<div  id="uploadZone" class="large-12 columns dropzone">
	
		</div>
	</div>
	
	<input id="fileName" type="hidden"/>
		
	
	<div class="row">
	<div class="large-12 columns">
	<button class="button newO">Nuevo</button>		
	</div>
	</div>
	
	
