<!DOCTYPE html>
<html>
<head>
  <title>Pruebas Con BackBone</title>
<meta name="description" content="">
  <meta name="author" content="fcarrizalest">
  
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <script data-main="{{url_for('static', filename='js/main')}}" src="{{url_for('static', filename='js/libs/require/require.js') }}"></script>
  <style type="text/css">
  #personas{
 border:1px solid red;
 font-size:.6em;
 width:200px;

}
#personas div{
 margin: 5px;
}
#personas img{
 
  width:40px;
}


  </style>
</head>
<body>


<h1>TEST</h1>


<div id="page">
Loading...

</div>

    
</body> 
</html>
